* {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 24);
}

body, html {
    height: 100%;
}
p {
    color: rgb(95, 95, 95);
    font-weight: 500;
}

body {
    display: grid;
    grid-template-columns: minmax(22rem, 27rem) 1fr;
    grid-template-rows: 12rem 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr 1fr 1fr 400px;
    align-items: center;
    column-gap: 1px;
    justify-items: start;
}
.sidebar-header{
    grid-row: 1 / 2;
    font-size: 35px;
}
.sidebar-header ~ div{
    font-size: 25px;
}
.sidebar div{
    display: grid;
    font-weight: 600;
    color: white;
    justify-self: start;
}
.sidebar svg:first-of-type{
    width: 5rem;
}
.sidebar svg{
    grid-column: 1 / 2;
    width: 2.5rem;
    justify-self: center;
    fill: white;
}
.sidebar .settings,
.sidebar svg:nth-of-type(8){
    align-self: end;
    margin-bottom: 1.25rem;
}

.header {
    background-color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-row: 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: 0 9px 10px -10px #888;
    z-index: 1;
}
.header div{
    display: flex;
    width: 100%;
    align-items: center;
}
.header .search-container{
    justify-content: flex-start;
    margin-left: 10rem;
}
.header .search-container > svg {
    width: 3rem;
    margin-right: 1rem;
}
.header .search-container input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 50px;
    color: #333;
    font-size: 16px;
    padding: 0.25rem;
    padding-left: 1rem;
    width: clamp(40rem, 70rem, 80rem);
    height: 3rem;
    box-shadow: 0px 3px 8px -3px #888;
}
.header .search-container input:focus {
    outline: none;
}
.header .notification-container {
    justify-content: flex-end;
}
.header .notification-container > svg {
    width: 2.5rem;
    margin-right: 3rem;
}
.header .notification-container > img {
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    margin-right: 1rem;
}
.header .notification-container .profile-name {
    margin-right: 4rem;
}
.header .welcome-container > img {
    width: 6rem;
    height: 6rem;
    border-radius: 20rem;
    margin-right: 2rem;
    margin-left: 8rem;
    margin-top: 0;
}
.header .welcome-container .welcome-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    font-weight: 800;
}
.header .welcome-container .welcome-message h1{
    margin: 0;
}
.header .button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.header .button-container button{
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #1992d4;
    font-weight: 800;
    font-size: 20px;
}
.header .button-container :last-child{
    margin-right: 2rem;
}


.card {
    border-radius: 15px;
    background-color: #ffffff;
}

.main-content {
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1rem 9fr 3fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    height: 100%;
    width: 100%;
}
.main-content .card {
    /* display: flex;
    flex-direction: column; */
    padding: 1rem;
    box-shadow: 3px 3px 8px -3px #888;
}

.your-projects{
    display: grid;
    grid-column: 2/ 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
    gap: 1rem;
}
.your-projects .title {
    grid-column: 1 / 3;
    align-self: end;
}
.your-projects .card {
    display: grid;
    grid-auto-flow: column;
    border-left: 10px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.your-projects .card > h3 {
    margin-top: 2rem;
    margin-left: 0.5;
    font-weight: 900;
}
.your-projects .card > p {
    margin-right: 2rem;
}

.your-projects .card  .SVG-elements{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}
.your-projects .card  .SVG-elements svg {
    width: 2rem;

}




.side-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr 8fr 1fr 8fr 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.side-container .title {
    align-self: end;
}
.side-container .announcements-card {
    justify-content: space-between;
    gap: 1.5rem;
}
.side-container .announcements-card{
    border-bottom: 0.5px solid rgb(136, 128, 128);
}

.side-container .announcements-card .first-section,
.side-container .announcements-card .second-section{
    border-bottom: 0.5px solid hsl(0deg 0% 39%);
    padding-bottom: 1.5rem;
}
.side-container .announcements-card h4 {
    font-weight: 900;
    font-size: larger;
}

.side-container .card.trending-card{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;    
}
.side-container .card.trending-card img {
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    grid-column: 1 / 2;
}




