* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 11fr;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr 1fr 1fr 300px;
}
.sidebar-header{
    grid-row: 1 / 2;
    font-size: 30px;
}
.sidebar-header ~ h2{
    font-size: 20px;
}
.sidebar div{
    display: grid;
    align-items: center;
}
.sidebar div[class$='svg']{
    grid-column: 1 / 2;
    margin-left: 2rem;
}

.header {
    background-color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-row: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.header div{
    display: flex;
}


.main-content {
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}
.your-projects{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    gap: 1rem;
}
.side-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr 8fr;
    gap: 1rem;
}
.card {
    border-radius: 15px;
    background-color: #ffffff;
}



